Task2_Workflow_PraveenKumar.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "85767f27-2418-428d-9269-e790525483a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=5&page=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "09b86654-846e-410d-902c-7f499ae5810b",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const topCoins = items.map(item => {\n  return {\n    json: {\n      name: item.json.name,\n      symbol: item.json.symbol,\n      price: item.json.current_price,\n      change: item.json.price_change_percentage_24h\n    }\n  };\n});\n\nreturn topCoins;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "977d9e4e-567e-4e13-a5dd-a1781bacb3ea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41ea8058-dea3-489d-8a1f-aa2c2bf1e945",
              "leftValue": "={{ $json.change }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "823968d4-1f9f-4c38-a531-70f95e3c394f",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1243810853",
        "text": "=🚀 Crypto Alert  Coin: {{$json.name}}  Price: {{$json.price}}  24h Change: {{$json.change}}%",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "7bbe9aa0-d0bf-4fa2-a8ad-7bf7ca78a165",
      "name": "Send a text message",
      "webhookId": "c34a2e67-4c21-4ebe-a32c-c0693bdb3334",
      "credentials": {
        "telegramApi": {
          "id": "uq49I7vmEs2b0pmc",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6c01028f-b366-44bd-a199-3e94f95f4f7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45a9e21abc38ddaa695679768c3b8e404a0cbb95361ee4ad83035ea64e55bd67"
  },
  "id": "zyzGlAbxONucIeDw",
  "tags": []
}